# Arquivos de estado local do Terraform
*.tfstate
*.tfstate.*
tfstate.*

# Arquivos de log
crash.log
crash.*.log

# Arquivos de configuração do diretório .terraform
.terraform/*
!/.terraform/*.tflock

# Ignore arquivos de variáveis sensíveis
#*.tfvars
*.auto.tfvars
secrets.auto.tfvars

# Ignore arquivos de saída plan
*.tfplan
*.tfplan.*

# Ignore arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore arquivos CLI
.terraformrc
terraform.rc

# Pastas do Git
.git/
.gitignore

# Arquivos temporários do sistema e do editor
*.bak
*.swp
*.tmp

# Diretórios temporários do sistema
tmp/
